{
  "javaPackage": "com.llsc12.PaicordLib",
  "mode": "jni",
  "swiftFilterExclude": [
    "IntBitField",
    "StringBitField",
    "DereferenceBox",
    "DiscordLocaleDict",
    "DiscordClientResponse",
    "DiscordAsyncSequence",
    "Date"
  ],
  "specialize": {
    "GuildSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Guild"
      }
    },
    "ChannelSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordChannel"
      }
    },
    "MessageSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordChannel.Message"
      }
    },
    "UserSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordUser"
      }
    },
    "ApplicationSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordApplication"
      }
    },
    "ApplicationAssetSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordApplication.Asset"
      }
    },
    "EmojiSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Emoji"
      }
    },
    "StickerSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Sticker"
      }
    },
    "RoleSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Role"
      }
    },
    "RuleSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "AutoModerationRule"
      }
    },
    "StickerPackSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "StickerPack"
      }
    },
    "WebhookSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Webhook"
      }
    },
    "GuildScheduledEventSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "GuildScheduledEvent"
      }
    },
    "GuildScheduledEventExceptionSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "GuildScheduledEventException"
      }
    },
    "OnboardingPromptSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Guild.Onboarding.Prompt"
      }
    },
    "OnboardingPromptOptionSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Guild.Onboarding.Prompt.Option"
      }
    },
    "CommandSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "ApplicationCommand"
      }
    },
    "InteractionSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Interaction"
      }
    },
    "IntegrationSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Integration"
      }
    },
    "AuditLogEntrySnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "AuditLog.Entry"
      }
    },
    "AttachmentSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordChannel.Message.Attachment"
      }
    },
    "ForumTagSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "DiscordChannel.ForumTag"
      }
    },
    "TeamSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Team"
      }
    },
    "StageInstanceSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "StageInstance"
      }
    },
    "AssetsSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Gateway.Activity.Assets"
      }
    },
    "EntitlementSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Entitlement"
      }
    },
    "SKUSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "SKU"
      }
    },
    "SoundSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "SoundboardSound"
      }
    },
    "SubscriptionSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Subscription"
      }
    },
    "MemberListSnowflake": {
      "base": "Snowflake",
      "typeArgs": {
        "Tag": "Gateway.GuildMemberListUpdate"
      }
    }
  }
}
